body {
    background-image: linear-gradient(225deg, #7988ff, #2a67d1, #172f72 100%, #3737b2);
    color: blanchedalmond;
    padding: 0px;
    margin: auto;
    font-family: monospace;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

li.navbar{
    float: left;
}


ul.navmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li  {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #ff2;
    color: #000;
}


.MiddleSection  {
    display: flex;
    justify-content: center;
    width: 100%;
    float: left;
    margin-bottom: 8px;
    height: 92vh;
}

h2.logobuild {
font-family: 'Dead revolution';
font-size: 400%;

}

div.form {
    font-size: px;
    font-weight: bold;
    line-height: 40px;
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
button {
    float: right;
    font-family:'Comic Sans';
    font-size: 20px;
    border-radius: 5px 5px 5px;
    color: #333;
    background-image: linear-gradient(225deg, #88f7ff, #77d6ee, #0ea7bb 100%, #097b97);
}
.footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

.footer h2 {
    padding: 1%;
    text-align: center;
}

.footer h3 {
    text-align: center;
}

.content {
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-align: center;
}

@font-face {
    font-family: 'Dead revolution';
    src: url('./font/Dead Revolution.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Sans';
    src: url('./font/theboldfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}